.button {
    padding: 13px 62px; 
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center; 
    border: 1px solid transparent;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out, border-color 200ms ease-in-out;
    cursor: pointer;
}
.button:disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}
.button_primary {
    background-color: #4263EB;
    border-color: #4263EB;
    color: #FFFFFF;
}
.button_primary:hover {
    background-color: #2342C0;
    border-color: #2342C0;
}
.button_secondary {
    background-color: #7048E8;
    border-color: #7048E8;
    color: #FFFFFF;  
}
.button_secondary:hover {
    background-color: #5028C6;
    border-color: #5028C6;
}
.button_alternate {
    background-color: #FFFFFF;
    border-color: #ACB5BD;
    color: #495057;
}
.button_alternate:hover {
    border-color: #212429;
}
