.modal {
    display:none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(196, 196, 196, 0.5);
    z-index: 99;
}
.modal__title {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}
.modal__inner {
    position: relative;
    box-sizing: border-box;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    margin: auto;
    padding: 32px 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 428px;
}
.modal__p {
    margin: 0;
    padding-top: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}
.modal__button-close {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
    margin-left: auto;
    width: 10px;
    height: 10px;
    background: transparent;
    padding: 0;
    border: none;
}